#addBtn{
    margin-bottom: 60px;
    margin-right: 20px;
}

#inputContent{
    padding:0px;
}

#addCommentDiv{
    width:100%;
}

#newComment{
    width:70%;
    height: 50%; 
    float: left;  
}

#sendBtn{
    float:left;
    width:25%;
}