<ion-content>
  <ul>
    <li class="text">
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="http://lorempixel.com/150/150">
                </ion-avatar>
                <h2>{{key.messageHeader}}</h2>
            </ion-item>
            <img src="http://lorempixel.com/500/400">
            <ion-card-content>
                <p>{{key.newMessage}}</p>
            </ion-card-content>  
            <hr>
            <ion-card-content>
                <div>
                    Comments
                </div>
            </ion-card-content> 
        </ion-card>
    </li>
  </ul>
</ion-content>
